html {
	font-family: "Quicksand", sans-serif;
	line-height: 2;
	font-size: 1.2em;
	/* color: #635772; */
	--web-color: #635772;
	--gray-color: #8a8a8a;
	--blue-color: #5b859e;
	margin: 0;
	padding: 0;
	color: var(--gray-color);
}

body {
	background-color: #fff;
	margin: 0;
}

.nav-container {
	display: flex;
	justify-content: center;
}

#nav-bar {
	width: 1200px;
}

#nav-bar li {
	list-style: none;
	/* margin: 1em 2em; */
}

#nav-bar li a {
	text-decoration: none;
	float: left;
	padding: 1em 2em;
	transition: 0.5s;
}

#nav-bar li a:hover {
	background-color: #f7f4fa;
	opacity: 1;
}

#bio {
	margin-top: 0px;
	background-color: #f6f6f6;
}

h1 {
	font-family: "Montserrat", sans-serif;
	margin: 1.3em 0 0 0;
	padding: 0;
	font-size: 2.6em;
	line-height: 1.3em;
}

h3 {
	font-family: "Montserrat", sans-serif;
	font-size: 1.4em;
	height: auto;
	font-weight: 700 !important;
	margin: 0;
}

h4 {
	font-family: "Montserrat", sans-serif;
	font-size: 1.1em;
	height: auto;
	color: #958ba5;
	font-weight: 700 !important;
	margin: 0;
	line-height: 1.5em;
}

.section p {
	margin: 0px 0;
}

p {
	font-weight: 400;
}

.flexbox-container {
	display: flex;
	justify-content: center;
	align-items: stretch;
}

.flexbox-container-left-align {
	display: flex;
	justify-content: flex-start !important;

	align-items: stretch;
}

.wrapper,
.wrapper-head {
	display: flex;
	flex-flow: row;
	width: 1200px;
	flex-wrap: wrap;
	justify-content: space-around;
	padding-bottom: 3.8em;
}

.wrapper {
	width: 1000px !important;
}

.wrapper-header {
	display: flex;
	width: 1030px;
	justify-content: flex-start;
}

.foot-wrapper {
	width: 1100px;
	margin: 100px 0px 20px 0;
}

#avatar {
	flex-grow: 1;
	min-width: 270px;
	max-width: 30%;
}

.img {
	width: 100%;
	max-width: 373px;
	height: auto;
	margin: 3em 0px 0px 0px;
	max-height: 220px;
	animation: fadein 1.5s;
}

a {
	transition: 0.5s;
}

a:hover {
	opacity: 1;
}

a.link {
	color: #4ba2bd;
}

.image-frame-front {
	width: 45%;
	display: flex;
	align-items: center;
	animation: fadein 1.5s;
}

.image-frame-front2 {
	width: 45%;
	display: flex;
	align-items: center;
	animation: fadein 1.5s;
}

@keyframes fadein {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.img-front {
	width: 100%;
	height: auto;
	max-height: 344px;
	max-width: 510px;
	margin: 2.6em 0 0px 0px;
	display: flex;
	justify-content: center;
}

.website {
	width: 302px;
	height: auto;
	max-height: 453px;
	max-width: 302px;
	margin: 2.6em 0em 0px 5em;
	display: flex;
	justify-content: center;
}

.info {
	margin: 0 1em 0 2em;
	/* flex: 1 1 300px; */
	display: flex;
	align-self: center;
	width: 50%;
	flex-direction: column;
	/* align-content: stretch; */
	animation: 0.7s ease-out 0s 1 slideInFromLeft;
}

@keyframes slideInFromLeft {
	0% {
		transform: translateX(-100%);
	}

	100% {
		transform: translateX(0);
	}
}

.section {
	display: flex;
	width: 500px;
	margin: 0;
	padding: 10px;
	align-self: center;
	text-align: right;
	flex-direction: column;
	animation: fadein 1.5s;
}

.text-left {
	text-align: left;
}

.image-frame {
	max-width: 100%;
	height: auto;
	margin: 20px 0px;
	display: flex;
	justify-content: center;
}

.heading {
	display: block;
	width: 1200px;
	flex: 1 1 1200px;
	/* flex-flow: row wrap; */
}

.portfolio {
	color: var(--gray-color);
}

.row {
	display: flex;
	flex-direction: column;
}

.projects {
	display: inline-flex;
	flex-flow: row;
	margin: 18px 0 30px 0;
	padding-bottom: 30px;
	border-bottom: 1px solid #eee;
}

.projects-sub {
	display: flex;
	flex-direction: column;
	margin: 18px 0 20px 0;
	padding-bottom: 50px;
	border-bottom: 1px solid #eee;
}

.proj-desc-sub li {
	list-style: square;
	padding-left: 30px;
}

.proj-desc-sub ul {
	padding-bottom: 20px;
}

.title-img h4 {
	color: var(--blue-color);
	padding: 20px 0;
}

.proj-img {
	float: left;
	width: 440px;
}

.proj-img img {
	border-radius: 10px;
	border: 3px solid var(--blue-color);
}

.proj-desc h4 {
	margin: 20px 0;
}

.title-img-design {
	display: flex;
}

.title-img-design img {
	border: 1px solid rgb(235, 235, 235);
	border-radius: 12px;
	margin-left: 20px;
}

.proj-desc h3 {
	font-size: 1.1em;
	margin: 0 0 8px 0;
}

.proj-desc ul {
	margin: 0 0 17px;
}
.proj-desc p {
	padding: 0 0 22px;
}

.proj-desc {
	padding-top: 70px;
	line-height: 1.4em;
	float: left;
	width: 48%;
	margin-left: 40px;
}

.side {
	padding-top: 40px;
}

.proj-desc-sub {
	padding-top: 5px;
}

.proj-desc ul {
	padding-left: 23px;
}

.proj-desc li {
	padding-left: 20px;
}

.proj-desc a,
.proj-desc-sub a {
	color: #fff;
	/* margin-top: 10px; */
	padding: 10px 50px;
	background-color: var(--blue-color);
	border-radius: 30px;
}

a.code {
	color: var(--blue-color);
	background-color: #ffffff;
	border: 2px solid var(--blue-color);
	margin-left: 30px;
}

#footera {
	float: left;
	width: 55%;
	height: 3.5em;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-end;
}

#footerb {
	display: block;
	float: right;
	justify-content: right;
	width: 340px;
}

.sm {
	height: 64px;
	width: 65px;

	display: block;
	float: left;
	margin: 0 10px 0 10px;
	transition: 0.3s;
}

a {
	text-decoration: none;
	color: var(--gray-color);
}

a:hover {
	opacity: 0.5;
}

.me {
	margin: 2em 0 0 0;
	background: url(img/me.jpg);
	background-size: cover;
	width: 100%;
	position: relative;
	height: 100%;
	min-width: 506px;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 2px;
}

@media (max-width: 1170px) {
	.image-frame {
		max-width: 50%;
	}

	.me {
		min-width: 506px;
		min-height: 350px;
	}

	.image-frame-front {
		width: 40%;
	}
}

@media (max-width: 909px) {
	body {
		margin: 0;
		padding: 0;
	}

	.section {
		order: 2;
	}

	#nav-bar {
		display: flex;
		flex-flow: row;
		justify-content: center;
		font-size: 1em;
	}

	#nav-bar li a {
		padding: 1em 1.2em !important;
	}

	.wrapper,
	.wrapper-head {
		width: 100% !important;
		display: flex;
		justify-content: center;
	}

	.img-front {
		display: flex;
		margin-top: 2em;
		flex-direction: column;
	}

	.image-frame-front {
		width: 70%;
	}

	.website {
		width: 302px;
		margin: 2.6em 0em 0px 0em;
	}

	.info {
		width: 90%;
	}

	.image-frame {
		max-width: 80%;
	}

	h1 {
		margin: 0.5em 0 0 0;
		text-align: center;
		font-size: 2.5em;
	}

	h4 {
		font-size: 1.2em;
		text-align: center;
	}

	.info {
		text-align: center;
		margin: 0 1.8em 0 1.8em;
	}

	.section {
		text-align: center;
	}

	.proj-wrap {
		padding: 0 0% 0 13%;
		text-align: left;
	}

	.proj-wrap img {
		display: flex;

		margin: 0 auto;
	}

	ul {
		padding: 0 0 0 30px;
	}

	.projects {
		display: flex;
		flex-direction: column;
	}

	.title-img h4 {
		text-align: left;
	}

	.proj-desc {
		width: 80%;
	}

	.title-img-design {
		display: flex;
		flex-direction: column;
	}

	.foot-wrapper {
		display: flex;
		width: 100%;
		flex-direction: column;
		justify-content: center;
	}

	#footera {
		font-size: 0.8em;
		height: 6vh;
		display: flex;
		width: 70%;
		margin: 0 15% 0 15%;
		order: 2;
		justify-content: center;
		text-align: center;
	}

	#footerb {
		height: 60px;
		display: flex;
		float: none;
		width: auto;
		order: 1;
		justify-content: center;
	}
}

@media (max-width: 709px) {
}
